{% extends 'base.twig' %}
{% block content %}
<div class="content_wrapper">
	<div class="notfound">
		<h1> 404 </h1>
		<h2> Sorry, this page doesn't exist (yet) </h2>
		<h2> Click <a href="{{site.link}}">here</a> to go back home</h2>
	</div>

</div>
{% endblock %}
