{% block head_container %} {% include 'head.twig' %} {% block head %} {% endblock %}
</head>
{% endblock %}

<body>
    
    
    {% block header %} {% include 'header.twig' %} {%endblock%}



    <main class="main_content">
        {% block content %} {% endblock %}
    </main>
    {% block footer %} {% include 'footer.twig' %} {{function('wp_footer')}} {% endblock %}
</body>
<script>
</script>

</html>
