<header>
    <a class="logoWrapper" href="{{site.url}}">
        <img class="logoImage" src="/wp-content/themes/Perplex/assets/logo2.png" />
        <span class="logoSlogan">
            INDEPENDENT VIDEO GAME DEVELOPMENT
        </span>
    </a>
</header>








