<header style="background-image: url({{header_image}})">
    <div class="logo">
        <a class="logo-link" href="http://perplex.space">
            <div class="logo-background">
                <h1> P </h1>
            </div>
        </a>
    </div>
    <div class="header-sep"></div>
</header>
