<!DOCTYPE html>
<head>
    {# Analytics Stuff  #}
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-63511265-3"></script>
	<script>
  		window.dataLayer = window.dataLayer || [];
  		function gtag(){dataLayer.push(arguments);}
  		gtag('js', new Date());
  		gtag('config', 'UA-63511265-3');
	</script>
    {# End Analytics #}
	
    {# Meta Stuff #}
    <meta charset="{{ site.charset }}"/>
    <meta lang="en" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {# End Meta #}

    {# Stylesheets #}
    <link rel="canonical" href="https://perplex.space" />
	<link rel="stylesheet" href="{{theme.link}}/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Oxygen&family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./assets/css/style.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ theme.link }}/assets/favicon.ico" type="image/x-icon"/>
    {# End sheets #}
    <title>Perplexing you since 2017</title>
    {{function('wp_head')}}
</head>

