{% extends "base.twig" %}
{% block content %}
<div class="content_wrapper">
<h1>Home</h1>
    
    <a href="{{site.link}}/posts">Posts</a>
    <a href="{{site.link}}/games">Games</a>


</div>



{% endblock %}