{% extends "base.twig" %}
{% block content %}
<div class="section-title">
        <div class="title-text"> Games </div>
        <div class="title-rule"></div>
    </div>
<div class="game_wrapper">
{% if posts %}
    {% for game in posts %}
     {% include 'small-game.twig' %}
    {% endfor %}
{% endif %}
</div>
{% include 'components/pagination.twig' %}



{% endblock %}